# Config based on https://github.com/IBM-Swift/Package-Builder
# At some point I'll add linux to the matrix here
matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
    - os: osx
      osx_image: xcode10.2
      sudo: required
env:
  - SWIFT_VERSION=5.0

install:
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"

script:
  - swift test
